body {
    background-position: center;
    background-size: cover;
}

.link {
    background-color: white;
    border-radius: 10px;
    width: 320px;
    margin-top: 20px;
    font-size: medium;
}

.link :hover {
    font-size: large;
}